<app-dashboard></app-dashboard>

<div class="container bf-container pollContainer">
  <div class="jumbotron">
      <div id="title">Create a Poll/Election</div>
      <div class="buttonContainer">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary" [ngClass]="activePage == 1 ? 'active' : 'none'">
            <input type="radio" name="options" id="option1" autocomplete="off" (click)="activePage=1"> 1
          </label>
          <label class="btn btn-secondary" [ngClass]="activePage == 2 ? 'active' : 'none'">
            <input type="radio" name="options" id="option2" autocomplete="off" (click)="activePage=2"> 2
          </label>
          <label class="btn btn-secondary" [ngClass]="activePage == 3 ? 'active' : 'none'">
            <input type="radio" name="options" id="option3" autocomplete="off" (click)="activePage=3"> 3
          </label>
        </div>
      </div>
    <div class="createContainer">
      <form #pollForm="ngForm" (submit)="registerPoll(pollForm)">
        <div class="form-group">
          <input type="text" class="form-control" name="pollName" placeholder="Enter Poll Name" ngModel #pollName="ngModel" required>
        </div>
        <div class="form-group accessText">
          <span class="smallText">Access to poll: </span>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="student" type="checkbox" id="student" value="student" ngModel #faculty="ngModel">
            <label class="form-check-label" for="student">Student</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="faculty" type="checkbox" id="faculty" value="faculty" ngModel #faculty="ngModel">
            <label class="form-check-label" for="faculty">Faculty</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="instructor" type="checkbox" id="instructor" value="instructor" ngModel #faculty="ngModel">
            <label class="form-check-label" for="instructor">Instructor</label>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="End Date for Poll/Election"
                   name="dp" ngModel ngbDatepicker #date="ngModel" #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">Choose Date</button>
            </div>
          </div>
        </div>
        <button type="submit" class="btn" [disabled]="pollForm.invalid">Create Poll</button>
      </form>
    </div>
  </div>
</div>