#title {
  padding-top: 15px;
  width: 100%;
  font-style: italic;
  font-size: 3em;
  text-align: center;
  color: rgb(85, 85, 85);
}

#header {
  width: 100%;
  font-style: italic;
  font-size: 1.5em;
  color: rgb(85, 85, 85);
}

#header2 {
  width: 100%;
  font-style: italic;
  font-size: 1.5em;
  color: rgb(85, 85, 85);
  text-align: center;
}

.pollContainer {
  padding-top: 15px;
}

.elementBox {
  width: 100%;
  background-color: white;
  border: 1px solid #730A31;
  color: #730A31;
  text-align: center;
  font-size: 1.2em;
}

.leftBox {
  border-radius: 5px 0px 0px 5px;
}

.rightBox {
  border-radius: 0px 5px 5px 0px;
}

.pollBox:hover {
  background-color: #730A31;
  color: white;
  border: 1px solid white;
  position: relative;
}

.buttonContainer {
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

.btn {
  background-color: transparent !important;
  color: #730A31 !important;
  border: 1px solid #730A31 !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  color: white !important;
  background-color: #730A31 !important;
}

.bottom {
  line-height: 1.2em;
  padding-left: 5px;
  padding-bottom: 5px;
  text-align: left;
  font-size: 0.7em;
  position: absolute;
  bottom: 0;
}

.element {
  text-align: center;
}

.createContainer {
  margin: 0 auto;
}

.hide {
  display: none;
}

.qTitle {
  margin-top: 10px;
  width: 100%;
  font-style: italic;
  font-size: 1.5em;
  color: rgb(85, 85, 85);
}

.option {
  margin: 0 auto;
  margin-top: 10px;
  width: 60%;
  background-color: white;
  border: 1px solid #730A31;
  color: #730A31;
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
  height: 35px;
  line-height: 35px;
}

.winner {
  margin: 0 auto;
  margin-top: 10px;
  width: 50%;
  background-color: #730A31;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.resultOption {
  margin: 0 auto;
  margin-top: 10px;
  width: 50%;
  background-color: white;
  color: #730A31;
  border: solid 1px white;
  border-radius: 5px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.quantity {
  padding-right: 5px;
  float: right;
}
