<div class="dashboardContainer">
  <div class="alertContainer">Your account has been registered, please check email to verify account.</div>
  <div class="subDashContainer">
    <div class="container">
      <div class="row">
        <div class="col">
          <button class="btn btn-lg">Previous Polls</button> 
        </div>
        <div class="col">
          <button class="btn btn-lg">Private Polls</button>
        </div>
        <div class="col">
          <button class="btn btn-lg">Public Polls</button>
        </div>
        <div class="col">
          <button class="btn btn-lg">Manage Polls</button>
        </div>
        <div class="col">
          <button class="btn btn-lg">Create Poll</button>
        </div>
      </div>
    </div>
  </div>
</div>
