.dashboardContainer {
    font-family: 'Roboto', 'sans-serif' !important;
}

.btn {
    background-color: transparent !important;
    color: #730A31 !important;
    border: 1px solid #730A31 !important;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:hover {
    color: white !important;
    background-color: #730A31 !important;
}

.alertContainer {
    margin: auto 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #730A31;
    color: white;
}

.menuContainer {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #730A31;
    text-align: center;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.menuContainer:hover {
    background-color: rgb(145, 12, 61);
    margin-top: 4px;
}

.subDashContainer {
    padding-top: 1px;
}

div.col {
    padding-left: 0.5px !important;
    padding-right: 0.5px !important;
}