<div class="dashboardContainer">
  <div *ngIf="!auth.getUserDetails().verified" class="alertContainer">Your account has been registered, please check email to verify account.</div>
  <div class="subDashContainer">
    <div class="row">
      <div class="col">
        <div class="menuContainer" routerLink="/poll-results" id="previous-poll">Previous Polls</div>
      </div>
      <div class="col">
        <div class="menuContainer">Private Polls</div>
      </div>
      <div class="col">
        <div class="menuContainer" routerLink="/view-polls" id="public-poll">Public Polls</div>
      </div>
      <div class="col">
        <div class="menuContainer" routerLink="/manage-polls" id="manage-poll">Manage Polls</div>
      </div>
      <div class="col">
        <div class="menuContainer" routerLink="/create-poll" id="create-poll">Create Poll</div>
      </div>
    </div>
  </div>
</div>
