<nav class="nav-container navbar navbar-expand-lg navbar-light bg-light">
    <div routerLink="/homepage" class="image-container">
        <img src="assets/buffalo.png">
    </div> 
    <a class="navbar-brand" routerLink="/homepage">BuffVote</a>
    <ul class="navbar-nav mr-auto">
    </ul>
    <form *ngIf="!auth.isLoggedIn()" class="form-inline my-2 my-lg-0" #loginForm="ngForm" (submit)="login(loginForm)">
      <input class="form-control mr-sm-2" type="text" placeholder="Log In" aria-label="login" name="email" ngModel #username="ngModel" required>
      <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password" name="password" ngModel #password="ngModel" required>
      <button class="btn my-2 my-sm-0" type="submit" [disabled]="loginForm.invalid">
        Login
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </form>
    <div *ngIf="auth.isLoggedIn()">
        <span class="welcomeText my-2" >Welcome, {{ auth.getUserDetails().fname }}!</span>
        <button class="logoutBtn btn my-2 my-sm-0" (click)="auth.logout()">Log Out</button>
    </div>
</nav>