.btn {
    background-color: transparent !important;
    color: #730A31 !important;
    border: 1px solid #730A31 !important;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:hover {
    color: white !important;
    background-color: #730A31 !important;
}

.navbar-brand {
    font-size: 2.1em !important
}

.nav-container {
    font-family: 'Roboto', 'sans-serif' !important;
    font-style: italic !important;
}

.image-container {
    width: 32px;
    height: 32px;
    padding-right: 5px;
    cursor: pointer;
    outline: none;
}

.image-container img {
    width: 100%;
    height: auto;
}

.form-control {
    box-shadow: none !important;
}

.logoutBtn {
    margin-left: 10px;
}

.welcomeText {
    font-size: 1.5em;
}