.bf-container {
    padding-top: 30px;
    font-family: 'Roboto', 'sans-serif' !important;
}

.form-control {
    box-shadow: none !important;
}

.btn {
    background-color: transparent !important;
    color: #730A31 !important;
    border: 1px solid #730A31 !important;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:hover {
    color: white !important;
    background-color: #730A31 !important;
}