<div class="container bf-container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to BuffVote!</h1>
    <p class="lead">BuffVote is a college voting platform focused
      on security above all else. BuffVote uses a
      decentralized form of tracking votes so that
      a college election can truly be trusted.
    </p>
    <p class="lead">
        Users will see eligible polls and elections that
        they may participate in once they register and
        confirm their account.
      </p>
    <hr class="my-4">
    <p class="lead">Sign up using your WTAMU buff email address below!</p>
    <hr class="my-4">
    <form #registerForm="ngForm" (submit)="onRegister(registerForm)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fname">First Name</label>
          <input type="text" class="form-control" name="fname" placeholder="First Name" ngModel #fname="ngModel" required>
          <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger">
            <div *ngIf="fname.errors.required">
              First name is required
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control" name="lname" placeholder="Last Name" ngModel #lname="ngModel" required>
          <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="alert alert-danger">
            <div *ngIf="lname.errors.required">
              Last name is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email" ngModel #email="ngModel" required email appValidateEmail>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required
          </div>
          <div *ngIf="email.errors.email">
            Email must be of a valid form
          </div>
          <div *ngIf="email.errors.invalidEmail">
            Must be a valid wtamu email address
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" ngModel #password="ngModel" required
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&]).{8,}">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required
          </div>
          <div *ngIf="password.errors.pattern" class="alert alert-danger">
            Password must contain 8 characters, an uppercase letter, lowercase letter, number and symbol
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
          <label for="confirmpass">Confirm Password</label>
          <input type="password" class="form-control" name="confirmpass" placeholder="Confirm Password" ngModel #confpass="ngModel" required appValidatePasswordsMatch="{{password.value}}">
          <div *ngIf="confpass.invalid && (confpass.dirty || confpass.touched)" class="alert alert-danger">
            <div *ngIf="confpass.errors.required">
              Must confirm password
            </div>
            <div *ngIf="confpass.errors.passwordsNotMatch">
              Passwords must match
            </div>
          </div>
      </div>
      </div>
      <div class="form-group">
        <label for="department">College Department</label>
        <select name="department" class="form-control" ngModel #department="ngModel" required>
            <option value="" disabled selected>Select your department</option>
            <option value="1">Paul Engler College of Agriculture and Natural Sciences</option>
            <option value="2">Paul and Virginia Engler College of Business</option>
            <option value="3">College of Education and Social Sciences</option>
            <option value="4">College of Nursing and Health Sciences</option>
            <option value="5">School of Engineering, Computer Science and Mathematics</option>
            <option value="6">Sybil B. Harrington College of Fine Arts and Humanities</option>
            <option value="7">School of Music</option>
            <option value="8">Graduate School</option>
        </select>
        <div *ngIf="department.invalid && (department.dirty || department.touched)" class="alert alert-danger">
          <div *ngIf="department.errors.required">
            Department is required
          </div>
        </div>
      </div>
      <div class="form-group">
          <label for="major">College Major</label>
          <input type="text" class="form-control" name="major" placeholder="Major (ex. Computer Science)" ngModel #major="ngModel" required>
          <div *ngIf="major.invalid && (major.dirty || major.touched)" class="alert alert-danger">
            <div *ngIf="major.errors.required">
              Major is required
            </div>
          </div>
        </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="city">City</label>
          <input type="text" class="form-control" name="city" placeholder="City" ngModel #city="ngModel" required>
          <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
            <div *ngIf="city.errors.required">
              City is required
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="state">State</label>
          <select name="state" class="form-control" ngModel #state="ngModel" required>
            <option value="" disabled selected>Select your state</option>
            <option selected>Choose...</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
          <div *ngIf="state.invalid && (state.dirty || state.touched)" class="alert alert-danger">
            <div *ngIf="state.errors.required">
              State is required
            </div>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="zip">Zip</label>
          <input type="text" class="form-control" name="zip" ngModel #zip="ngModel" required placeholder="Zip Code">
          <div *ngIf="zip.invalid && (zip.dirty || zip.touched)" class="alert alert-danger">
            <div *ngIf="zip.errors.required">
              Zip is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="usertype">User Type</label>
          <select name="usertype" class="form-control" ngModel #usertype="ngModel" required>
            <option value="" disabled selected>Select your User Type</option>
            <option>Student</option>
            <option>Instructor</option>
            <option>Faculty</option>
          </select>
          <div *ngIf="usertype.invalid && (usertype.dirty || usertype.touched)" class="alert alert-danger">
            <div *ngIf="usertype.errors.required">
              User Type is required
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="classification">Classification</label>
          <select name="classification" class="form-control" ngModel #classification="ngModel" required>
            <option value="" disabled selected>Select your Classification</option>
            <option>Freshman</option>
            <option>Sophomore</option>
            <option>Junior</option>
            <option>Senior</option>
            <option>Graduate Student</option>
            <option>N/A</option>
          </select>
          <div *ngIf="classification.invalid && (classification.dirty || classification.touched)" class="alert alert-danger">
            <div *ngIf="classification.errors.required">
              Classification is required
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched)" class="alert alert-danger">Please fix the form before submitting.</div>
      <div *ngIf="nodeErrors.duplicateEmailError" class="alert alert-danger">The WTAMU email provided is currently in use.</div> 
      <button type="submit" class="btn" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
</div>
